<body class="text-center">
  <img class="img-logo" src="<%= image_path('logo.png') %>"  alt="Logo de PostresFacilito" >
    <p class="navbar-brand" href="#">ARKING</p>

<%= render 'form', user: @user %>

<%= link_to'Back', '/home/inicio' %>
</body>
